body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    background-color: rgb(26, 21, 13);
    margin: 0;
    padding: 10px;
    text-align: center;
}


.v {
    background-color: rgb(184, 184, 192);
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}